<header class="h-[72px] shadow-sm bg-white flex items-center justify-end px-6">
  <div class="flex items-center gap-2">
    <img src="https://media.licdn.com/dms/image/v2/C4E0BAQHn0bRW_u3pcQ/company-logo_200_200/company-logo_200_200/0/1679509852980/codingartsarl_logo?e=2147483647&v=beta&t=ne8DAsD_DvOyygke6sL83T5qdPyUYdKeWPOI_EZNeIU" alt="Codingart" class="w-12 h-12 rounded-full" />
      <div class="text-left">
          <h3 class="text-sm font-medium text-gray-900">Codingart</h3>
          <p class="text-sm text-gray-500">{{email}}</p>
      </div>
      
      <button class="flex items-center">
          <svg class="w-5 h-5 text-gray-500 ml-1" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
      </button>
  </div>
</header>